*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}
:root {
    --dark: #662119;
    --green: #f05d2e;
    --light: #fdc191;
    
    --dark: #400856;
    --green: #f652fb;
    --light: #f8f3e9;
}

body{
    background-color: var(--dark);
    animation: background-change 2s ease-out 1;
    animation-fill-mode: forwards;
}

#load-effect{
    position: absolute;
    top: 100%;
    height: 100vh;
    width: 100vw;
    background-color: var(--light);
    animation: rise 1.7s .1s cubic-bezier(0.22,1,0.36,1) 1;
    animation-fill-mode: forwards;  
}


#green{
    background-color: var(--green);
    height: 10px;
    width: 100vw;
    animation: grow 1.5s cubic-bezier(0.22,1,0.36,1) 1;
    animation-fill-mode: forwards;  
}

h1{
    position: relative;
    font-size: 8vw;
}
#text-div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100vh;
    width: 50vw;
    margin-left: 10vw;
}
#names-div{
    position: relative;
    height: 10vw;
    width: 40vw;
}

#p-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10vw;
    font-size: 20px;
    color: var(--dark);
}

#p-1{
    opacity: 0;
    animation: fade-in 1.3s 2s cubic-bezier(0.22,1,0.36,1) 1;
    animation-fill-mode: forwards; 
}

#p-2{
    opacity: 0;
    animation: fade-in 1.3s 2.2s cubic-bezier(0.22,1,0.36,1) 1;
    animation-fill-mode: forwards; 
}

#p-3{
    opacity: 0;
    animation: fade-in 1.3s 2.4s cubic-bezier(0.22,1,0.36,1) 1;
    animation-fill-mode: forwards; 
}

#p-4{
    opacity: 0;
    animation: fade-in 1.3s 2.6s cubic-bezier(0.22,1,0.36,1) 1;
    animation-fill-mode: forwards;
}

#first-div{
    position: relative;
    overflow: hidden;
    height: 8vw;
}

#last-div{
    position: relative;
    overflow: hidden;
    height: 8vw;
}

#first-dark{
    position: absolute;
    transform: translate(0,100%);
    color: var(--dark);
    animation: rise-text .6s 1.5s cubic-bezier(0.22,1,0.36,1) 1;
    animation-fill-mode: forwards; 
}

#first-green{
    position: absolute;
    color: var(--green);
    transform: translate(0,100%);
    animation: rise-text .5s 1.3s cubic-bezier(0.22,1,0.36,1) 1;
    animation-fill-mode: forwards; 
}

#last-dark{
    position: absolute;
    transform: translate(0,100%);
    color: var(--dark);
    animation: rise-text .6s 1.7s cubic-bezier(0.22,1,0.36,1) 1;
    animation-fill-mode: forwards; 
}

#last-green{
    position: absolute;
    color: var(--green);
    transform: translate(0,100%);
    animation: rise-text .5s 1.50s cubic-bezier(0.22,1,0.36,1) 1;
    animation-fill-mode: forwards; 
}

@keyframes rise-text{
    100%{transform: translate(0, 0%);}
}

@keyframes rise-text-dark{
    100%{transform: translate(0, 100%);}
}

@keyframes rise{
    100%{transform:translate(0, -100%)}
}

@keyframes grow{
    36%{height: 50px;}
    100%{height: 0px;}
}

@keyframes background-change{
    99%{background-color: var(--dark);}
    100%{background-color: var(--light);}
}

@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}